<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/dbinput" method="post">
      <div>
        <label for="">국어</label>
        <input type="text" name="korea"/>
      </div>
      <div>
        <label for="">영어</label>
        <input type="text" name="eng"/>
      </div>
      <div>
        <label for="">수학</label>
        <input type="text" name="math"/>
      </div>
      <input type="submit" value="등록">
    </form>
  </body>
</html>
