<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      body {
        background-color: #272b34;
        font-family: "Khula", sans-serif;
        font-weight: 300;
        line-height: 1em;
        margin: 0;
        padding: 1em 1em;
      }
    </style>
  </head>
  <body>
    <h1>안녕 나는 그래프야</h1>
    <div class="chart" id="chart"></div>
  </body>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs ={{graphJson | safe}}
    Plotly.plot('chart',graphs,{})
  </script>
</html>
