<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/insert" method="post">
      <div>
        <label for="">번호</label>
        <input type="text" name="num"/>
      </div>
      <div>
        <label for="">제목</label>
        <input type="text" name="title"/>
      </div>
      <div>
        <label for="">글쓴이</label>
        <input type="text" name="writer"/>
      </div>
       <div>
        <label for="">조회수</label>
        <input type="text" name="views"/>
      </div>
       <div>
        <label for="">내용</label>
        <input type="text" name="context"/>
      </div>
      <input type="submit" value="등록">
    </form>
  </body>
</html>
